<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Basic ZED2 camera properties -->
    <xacro:property name="zed_length" value="0.033" />
    <xacro:property name="zed_width" value="0.175" />
    <xacro:property name="zed_height" value="0.03" />
    <xacro:property name="lens_radius" value="0.0095" />
    <xacro:property name="lens_offset" value="0.017" />
    <xacro:property name="zed_length_position" value="0.053" />
    <xacro:property name="zed_mass" value="0.124" />

    <!-- Functions -->
    <xacro:macro name="lens" params="prefix">
        <link name="${prefix}_lens_link">
            <xacro:cylinder_inertia m="0.001" r="${lens_radius}" l="0.001" o_xyz="0.0 0.0 0.0" o_rpy="0 ${pi/2} 0" />
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0 ${pi/2} 0" />
                <geometry>
                    <cylinder radius="${lens_radius}" length="0.001" />
                </geometry>
                <material name="black"/>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0 ${pi/2} 0" />
                <geometry>
                    <sphere radius="${lens_radius}" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <!-- Links -->
    <link name="zed2_camera_link">
        <xacro:box_inertia l="${zed_length}" w="${zed_width}" h="${zed_height}" 
            m="${zed_mass}" o_xyz="0.0 0.0 0.0" o_rpy="0.0 0.0 0.0"/>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="${zed_length} ${zed_width} ${zed_height}" />
            </geometry>
            <material name="zed_gray"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="${zed_length} ${zed_width} ${zed_height}" />
            </geometry>
        </collision>
    </link>

    <link name="zed2_left_optical"/>
    <xacro:lens prefix="zed2_left" />

    <link name="zed2_right_optical"/>
    <xacro:lens prefix="zed2_right" />

    <!-- Joints -->

    <joint name="zed2_left_to_optical" type="fixed">
        <parent link="zed2_left_lens_link"/>
        <child link="zed2_left_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>
    <joint name="zed2_right_to_optical" type="fixed">
        <parent link="zed2_right_lens_link"/>
        <child link="zed2_right_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <joint name="chassis_to_zed2_joint" type="fixed">
        <parent link="chassis_link" />
        <child link="zed2_camera_link" />
        <origin xyz="${((chassis_length + zed_length)/2) - zed_length_position} 0 ${chassis_height + zed_height/2}" rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </joint>

    <joint name="zed2_to_left_lens" type="fixed">
        <parent link="zed2_camera_link" />
        <child link="zed2_left_lens_link" />
        <origin xyz="${zed_length/2} ${(zed_width/2) - lens_radius - lens_offset} 0" rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </joint>

    <joint name="zed2_to_right_lens" type="fixed">
        <parent link="zed2_camera_link" />
        <child link="zed2_right_lens_link" />
        <origin xyz="${zed_length/2} -${(zed_width/2) - lens_radius - lens_offset} 0" rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </joint>

    <!-- Gazebo plugins -->
    <gazebo reference="zed2_left_lens_link">
        <sensor type="camera" name="zed2_left_camera">
            <camera>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>15.0</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.001</stddev>
                </noise>
                <optical_frame_id>zed2_left_optical</optical_frame_id>
                <camera_info_topic>zed2_custom/left/camera_info</camera_info_topic>
            </camera>
            <always_on>true</always_on>
            <update_rate>30.0</update_rate>
            <visualize>true</visualize>
            <topic>zed2_custom/left/image_raw</topic>
            <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
                <render_engine>ogre2</render_engine>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="zed2_right_lens_link">
        <sensor type="camera" name="zed2_right_camera">
            <camera>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>15.0</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.001</stddev>
                </noise>
                <optical_frame_id>zed2_right_optical</optical_frame_id>
                <camera_info_topic>zed2_custom/right/camera_info</camera_info_topic>
            </camera>
            <always_on>true</always_on>
            <update_rate>30.0</update_rate>
            <visualize>true</visualize>
            <topic>zed2_custom/right/image_raw</topic>
            <!-- <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
                <render_engine>ogre2</render_engine>
            </plugin> -->
        </sensor>
    </gazebo>

</robot>